extends layout

block content
  h1= title
  p Welcome to #{title}.

  if locals.user
    p Hello #{locals.user.nameidentifier}, click here to #[a(href="/logout") log out].
  else
    p Click here to log in via #[a(href="/auth/oauth2") CERN OAuth2].

